.shortenedText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
  color: var(--gray-color);
}

.shortenedTextLight {
  color: var(--grayBlack-color)
}

.shortenedTextDark {
  color: var(--gray-color)
}