.shortenedText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
  color: var(--gray-color);
}

.shortenedTextLight {
  color: var(--grayBlack-color)
}

.shortenedTextDark {
  color: var(--gray-color)
}

.link {
  text-decoration: none;
  color: var(--grayBlack-color);
  border-bottom: 2px solid var(--lightGray-color);
  transition: 0.2s;

  &:hover {
    border-bottom: 2px solid var(--gray-color);
  }
}

.linkLight {
  color: var(--grayBlack-color);
  border-bottom: 2px solid var(--lightGray-color);

  &:hover {
    border-bottom: 2px solid var(--gray-color);
  }
}

.linkDark {
  color: var(--gray-color);
  border-bottom: 2px solid var(--gray-color);

  &:hover {
    border-bottom: 2px solid var(--lightGray-color);
  }
}