.app {
  font-family: var(--font-base);
  width: 100%;

  transition: background-color 0.3 ease-in-out;
  
}

.appLight {
  background-color: var(--white-color);
}

.appDark {
  background-color: var(--darkTheme-color);
}

.app__alternativebg {
  background-color: var(--alternative-color);
}

.app__alternativebgDark {
  background-color: var(--grayBlack-color);
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
  }
}
  
.headText {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  
  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }
  
  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.headTextLight {
  color: var(--grayBlack-color);

  span {
    color: var(--highlight-color);
  }
}

.headTextDark {
  color: var(--veryLightGray-color);
  
  span {
    color: 	var(--highlightDark-color);
  }
}

.pText {
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.pTextLight {
  color: var(--gray-color)
}

.pTextDark {
  color: var(--lightGray-color);
}

.boldText {
  font-size: 1rem;
  font-weight: 800;
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.boldTextLight {
  color: var(--black-color);
}

.boldTextDark {
  color: var(--veryLightGray-color)
}

.app__anchorText {
  text-decoration: none;
  border-bottom: 2px solid var(--lightGray-color);
  transition: 0.2s;
  &:hover {
    border-bottom: 2px solid var(--gray-color);
  }
}

.app__anchorTextLight {
  color: var(--grayBlack-color);
}

.app__anchorTextDark {
  color: var(--white-color);
}

@media screen and (max-width: 600px) {
  .copyright {
    padding: 2rem;
  }
}

