$primary-color: #edf2f8;
$secondary-color: #313bac;
$black-color: #030303;
$lightGray-color: #e4e4e4;
$gray-color: #6b7688;
$brown-color: #46364a;
$white-color: #ffffff;
$grayBlack-color: #444444;
$veryLightGray-color: #ececec;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  grayBlackColor: $grayBlack-color;
  blackColor: $black-color;
  lightGrayColor: $lightGray-color;
  grayColor: $gray-color;
  brownColor: $brown-color;
  whiteColor: $white-color;
  veryLightGrayColor: $veryLightGray-color;
}