$white-color: #ffffff;
$black-color: #030303;
$brown-color: #46364a;

$alternative-color: #edf2f8;
$highlight-color: #313bac;

$veryLightGray-color: #ececec;
$lightGray-color: #e4e4e4;
$gray-color: #6b7688;
$grayBlack-color: #444444;

$darkTheme-color: #28282B;
$highlightDark-color: #ab20fd;

:export {
  // Basic colors
  whiteColor: $white-color;
  blackColor: $black-color;
  brownColor: $brown-color;
  
  // Highlight Color
  // TODO: change alternative
  alternativeColor: $alternative-color;
  highlightColor: $highlight-color;
  
  // Shades of Gray
  veryLightGrayColor: $veryLightGray-color;
  lightGrayColor: $lightGray-color;
  grayColor: $gray-color;
  grayBlackColor: $grayBlack-color;

  // Dark Theme colors
  darkThemeColor: $darkTheme-color;
  highlightDarkColor: $highlightDark-color;
}