.app__contentList {
  border-left: solid;
  border-color: var(--veryLightGray-color);
  border-width: 1px;
  padding-left: 1rem;
  padding-bottom: 2rem;
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 100px;
  
  .title {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--gray-color);
    text-transform: uppercase;
    padding-top: 3px;
  }
}

.app__contentListTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.app__contentListItems {
  padding-left: 4rem;
  color: var(--grayBlack-color);

  li {
    a {
      color: var(--grayBlack-color);
      text-decoration: none;
    }
  }
}