.app__section {
  scroll-margin-top: 8em;
}

.app__sectionHeader {
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--grayBlack-color);
}

.app__sectionBody {
  color: var(--grayBlack-color);

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;

    a {
      text-decoration: none;
    }
  }

  ul {
    margin-left: 30px;
    
    color: var(--gray-color);
    font-size: 1.1rem;
  }
}