.app__section {
  scroll-margin-top: 8em;
}

.app__sectionHeader {
  margin-top: 30px;
  margin-bottom: 30px;
}

.app__sectionHeaderLight {
  color: var(--grayBlack-color);

}

.app__sectionHeaderDark {
  color: var(--veryLightGray-color);

}

.app__sectionBody {

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 20px;

    a {
      text-decoration: none;
    }
  }

  ul {
    margin-left: 30px;
    
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
}

.app__sectionBodyLight {
  color: var(--grayBlack-color);
  ul {
    color: var(--grayBlack-color);

  }
}

.app__sectionBodyDark {
  color: var(--lightGray-color);
  ul {
    color: var(--lightGray-color);

  }
}

.app__sectionCodeSnippet {
  margin: 30px 5%;
}

.app__sectionLink {
  text-decoration: none;
  color: var(--grayBlack-color);
  border-bottom: 2px solid var(--lightGray-color);
  transition: 0.2s;

  &:hover {
    border-bottom: 2px solid var(--gray-color);
  }
}

.app__sectionLinkLight {
  color: var(--grayBlack-color);
  border-bottom: 2px solid var(--lightGray-color);

  &:hover {
    border-bottom: 2px solid var(--gray-color);
  }
}

.app__sectionLinkDark {
  color: var(--lightGray-color);
  border-bottom: 2px solid var(--gray-color);

  &:hover {
    border-bottom: 2px solid var(--lightGray-color);
  }
}

.app__sectionCode { 
  border-radius: 5px;
  padding: 0 3px 0;
}

.app__sectionCodeLight {
  background-color: var(--lightGray-color);

}

.app__sectionCodeDark {
  background-color: var(--black-color);
}