.app__section {
  scroll-margin-top: 8em;
}

.app__sectionHeader {
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--grayBlack-color);
}

.app__sectionBody {
  color: var(--grayBlack-color);

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 20px;

    a {
      text-decoration: none;
    }
  }

  ul {
    margin-left: 30px;
    
    color: var(--grayBlack-color);
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
}

.app__sectionCodeSnippet {
  margin: 30px 5%;
}

.app__sectionLink {
  text-decoration: none;
  color: var(--grayBlack-color);
  border-bottom: 2px solid var(--lightGray-color);
  transition: 0.2s;

  &:hover {
    border-bottom: 2px solid var(--gray-color);
  }
}

.app__sectionCode { 
  background-color: var(--lightGray-color);
  border-radius: 5px;
  padding: 0 3px 0;
}