.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
//   position: -webkit-sticky;
  top: 0;
  z-index: 5;

  transition-property: all; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;

  svg {
    position: relative;
    width: 20px;
    height: 20px;

    @media screen and (min-width: 900px) {
        display: none;
    }
  }
}


.app__navbarLight {
    background: rgba(255, 255, 255, 0.25);
    svg {
        color: var(--gray-color);
    }
}

.app__navbarDark {
    background: rgba(0, 0, 0, 0.25);
    svg {
        color: var(--gray-color);
    }
}

.hide {
  top: -100px;
}

.app__navbarLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        overflow: hidden;
        height: 3.5rem;
        width: auto;
        margin-left: -5rem;
        margin-right: -30rem;
        
        @media screen and (min-width: 2000px) {
            width: 180px;
            height: 40px;
        }
    }
}

.app__navbarLinks {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

    li {
        margin: 0 2rem;
        cursor: pointer;
        text-align: center;
        flex-direction: column;

        div {
            width: 5px;
            height: 5px;
            background: transparent;
            border-radius: 50%;

            margin-bottom: 5px;
        }

        a {
            text-decoration: none;

            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;

            transition: all 0.2s ease-in-out;

            
        }

        
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.app__navbarLinksLight {
    li {
        a {
            color: var(--gray-color);

            &:hover {
                color: var(--grayBlack-color);
            }
        }

        &:hover {
            div {
                background: var(--grayBlack-color);
            }
        }
    }
}

.app__navbarLinksDark {
    li {
        a {
            color: var(--gray-color);

            &:hover {
                color: var(--lightGray-color);
            }
        }

        &:hover {
            div {
                background: var(--lightGray-color);
            }
        }
    }
}

.app__navbarMenu {
    width: 35px;
    height: 35px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;

        padding: 1rem;
        width: 50%;
        height: 100vh;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        flex-direction: column;


        background-size: cover;

        background-repeat: repeat;
        overflow: hidden;


        svg {
            width: 35px;
            height: 35px;

            margin: 0.5rem 1rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            height: 100%;
            width: 100%;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            flex-direction: column;

            li {
                margin: 1rem;

                a {
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 500;
                    transition: all 0.2s ease-in-out;

                    
                }
            }
        }

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}

.app__navbarMenuLight {
    svg {
        color: var(--gray-color)
    }

    div {
        background-color: var(--white-color);
        box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

        ul {
            li {
                a {
                    color: var(--gray-color);

                    &:hover {
                        color: var(--grayBlack-color);
                    }
                }
            }
        }

    }
}

.app__navbarMenuDark {

    div {
        background-color: var(--grayBlack-color);
        box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

        svg {
            color: var(--lightGray-color);

        }

        ul {
            li {
                a {
                    color: var(--lightGray-color);

                    &:hover {
                        color: var(--lightGray-color);
                    }
                }
            }
        }

    }
}