.app__tagMain {
  margin-top: 50px;  
  margin-left: 25%;
  margin-right: 25%;

  @media screen and (max-width: 768px) {
    margin-left: 8%;
    margin-right: 8%;
  }

}

.app__tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 50px;
}

.app__tagContent {
  padding-bottom: 30px;
  margin-bottom: 30px;
  scroll-margin-top: 8em;
  scroll-behavior: smooth;
}

.app__tagContentLight {
  border-bottom: 1px solid var(--lightGray-color);
}

.app__tagContentDark {
  border-bottom: 1px solid var(--grayBlack-color);
}

.tagTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;

  * {
    font-size: 1.5rem;
  }  
}

.tagTitleLight {
  * {
    color: var(--grayBlack-color)
  }
}

.tagTitleDark {
  * {
    color: var(--veryLightGray-color);
  }
}

.postTitle {
  text-decoration: none;
  font-size: 1.2rem;
}

.postTitleLight{
  color: var(--gray-color);


  &:hover {
    border-bottom: 2px solid var(--gray-color);
  }
}

.postTitleDark {
  color: var(--gray-color);


  &:hover {
    border-bottom: 2px solid var(--gray-color);
  }
}