.app__blogBody {
  margin-top: 20px;
  margin-left: 18%;
  margin-right: 18%;
  display: flex;
  flex-direction: row;
}

.app__blogBodyMain {
  width: 70%;
  padding-right: 80px;
}

.app__blogBodyList {
  margin-top: 30px;
}