.app__contactMain {
  flex: 1;
  width: 100%;
  flex-direction: column;
  min-height: 70vh;
  padding-top: 50px;
  padding-bottom: 1rem;
}

.app__contactMainLight {
  background-color: var(--veryLightGray-color);
}

.app__contactMainDark {
  background-color: var(--grayBlack-color);
}

.app__contactCards {
  padding: 0 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem 2rem 2rem;

  .app__contactCard {
    min-width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    img {
        width: 40px;
        height: 40px;
        margin: 0 0.7rem;
    }

    p {
      font-weight: 600;
    }

    a {
      text-decoration: none;
      font-weight: 500;
    }

    @media screen and (max-width: 450px) {
      width: 80%;
    }
  }

  @media screen and (max-width: 900px) {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

.app__contactCardsLight {
  .app__contactCard {
    border: 1px solid var(--gray-color);
    background-color: var(--veryLightGray-color);

    a {
      color: var(--grayBlack-color)
    }

    &:hover {
      background-color: var(--grayBlack-color);
      border: 2px solid var(--grayBlack-color);

      a {
        color: var(--white-color)
      }
    }
  }
}

.app__contactCardsDark {
  .app__contactCard {
    border: 1px solid var(--black-color);
    background-color: var(--grayBlack-color);

    a {
      color: var(--lightGray-color)
    }

    &:hover {
      background-color: var(--darkTheme-color);
      border: 2px solid var(--darkTheme-color);
    }
  }
}

.app__contactForm {
  padding: 0 20% 0;
  flex-direction: column;
  margin: 1rem 2rem;

  div {
    width: 100%;
    margin: 0.75rem 0;
    border-radius: 10px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    input, textarea {
      width: 100% !important;
      padding: 0.95rem;
      border: none;
      border-radius: 7px;
        
      font-family: var(--font-base);
      outline: none;
    }

    textarea {
      height: 180px !important;
    }
  }

  button {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px;

    font-weight: 500;
    margin: 2rem 0 0 0;
    font-family: var(--font-base);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  }
  @media screen and (max-width: 900px) {
    margin: 1rem 5%;
    width: 90%;
  }

  @media screen and (max-width: 600px) {
    padding: 0;
  }
}

.app__contactFormLight {
  div {
    background-color: var(--primary-color);

    input, textarea {
      background-color: var(--white-color);
      color: var(--secondary-color);
    }

    &:hover {
      box-shadow: 0 0 10px var(--gray-color);
    }
  }

  button {
    background-color: var(--grayBlack-color);
    color: var(--white-color);

    &:hover {
      box-shadow: 0 0 10px var(--gray-color)
    }
  }
}

.app__contactFormDark {
  div {

    input, textarea {
      background-color: var(--darkTheme-color);
      color: var(--veryLightGray-color);
    }

    &:hover {
      box-shadow: 0 0 25px var(--gray-color);
    }
  }

  button {
    background-color: var(--black-color);
    color: var(--white-color);

    &:hover {
      box-shadow: 0 0 10px var(--gray-color)
    }
  }
}

.thankyou {
  margin-top: 6rem;
  text-align: center;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 768px) {
    margin-top: 4rem;
  }
}

/*------------------------ Wavy stuff----------------------*/

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;

  @media (max-width: 768px) {
    min-height:20px;
    max-height: 50px;
  }
}

.parallax {
  use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    
    &:nth-child(1) {
      animation-delay: -2s;
      animation-duration: 7s;
    }

    &:nth-child(2) {
      animation-delay: -3s;
      animation-duration: 10s;
    }

    &:nth-child(3) {
      animation-delay: -4s;
      animation-duration: 13s;
    }

    &:nth-child(4) {
      animation-delay: -5s;
      animation-duration: 20s;
    }
  }
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

